@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.headline {
  /* height: 100vh; */
  background-color: #e554731a;
}

.head-content {
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 10px;
}

.headline-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 20px;
}

p {
  width: 450px;
  font-size: 0.9rem;
  color: #27272799;
  line-height: 1.5;
  margin: 0 0 30px;
}

.head-flower img {
  margin-bottom: -3px;
}

.btn-primary {
  padding: 14px 35px;
  background-color: #e55473;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

.head-btn {
  margin-left: 0;
}

/* featured content styles */

.featured-text {
  padding: 100px 25px;
}

.cards {
  display: flex;
  padding-bottom: 50px;
}

.card {
  width: 350px;
  height: 420px;
  margin: 0 10px;
  display: flex;
  position: relative;
  background-color: #e55473;
  border-radius: 300px 300px 0 0;
}

.card1 {
  background: rgba(167, 33, 98, 0.15);
}

.card2 {
  background: rgba(5, 151, 160, 0.15);
}

.card3 {
  background: rgba(71, 125, 17, 0.15);
}

.card img {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.card .mid {
  top: 100px;
}

.card-cap {
  margin-top: 445px;
  text-align: center;
  color: #272727;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* banner styles */
.banner {
  width: 72%;
  height: 12rem;
  background: rgba(39, 39, 39, 0.05);
  margin-bottom: 100px;
  padding: 30px 0 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.banner .banner-icons {
  width: 73vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 40px 0 10px;
}

.banner-icon img {
  margin-left: 100px;
  width: 60px;
}

.banner-icon p {
  width: 250px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: rgba(39, 39, 39, 0.8);
  font-weight: 600;
}

/* sale content styles */
.sale-content {
  height: 50vh;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.sale-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sale-text h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
}

.sale-text p {
  font-weight: 400;
  line-height: 1.5;
}

.sale-text span {
  font-size: 2.5rem;
  color: #e55473;
}

/* instagram gallery styles */
.insta-gallery {
  display: flex;
  flex-direction: column;
  padding: 80px 25px 30px;
}

.insta-gallery img {
  width: 17vw;
  padding: 0 10px 15px;
}

.insta-text,
.featured-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.insta-text h2,
.featured-text h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
}

.insta-text p {
  font-weight: 400;
  line-height: 1.5;
  width: 500px;
}

.img-gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* background-color: #e55473; */
}

/* deals styles */
.deals {
  padding-bottom: 20px;
}

.deals-content {
  width: 73%;
  height: 48vh;
  margin: 4rem auto;
  background-image: url("Flower Asset/Rectangle9.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.deals-text {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.deals-text h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 10px 0;
}

.deals-text p {
  margin-bottom: 45px;
}

#email {
  width: 500px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  margin: 0 20px;
}

/* footer styles */
.footer-content {
  height: 45vh;
  background: #111010;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-text h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 50px 0 25px;
}

.footer-text,
.footer-text p {
  color: rgba(255, 255, 255, 0.9);
  width: 500px;
  margin-bottom: 20px;
}

.footer-text span {
  font-size: 2.5rem;
  color: #e55473;
}

.footer-text small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.4);
}
